<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <springProperty scop="context" name="logDir" source="log.dir" defaultValue="/data/innovation-apps/logs/jd/jd-app/"/>
    <springProperty scop="context" name="logName" source="log.name" defaultValue="jd-app"/>

    <!-- 控制台输出-带颜色 -->
    <appender name="CONSOLE-WITH-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{36} : [%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
    </root>
</configuration>